gunicorn>=19.7.1
dash_table==3.1.6
plotly>=2.0.9
dash==0.30.0
dash-renderer==0.15.1
dash-html-components==0.13.2
dash-core-components==0.38.1
psycopg2-binary==2.7.6.1
Flask-SQLAlchemy==2.3.2
alembic==1.0.3
pandas==0.23.4
